<app-header (featureSelected)="onNavigate($event)"></app-header>


<div *ngIf="loadedFeature === 'home'" class="container border" style="margin-top: 8rem; display: flex; justify-content: center;">
    <div class="row">
        
            <div class="card text-center mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4" style="margin-top: 1.5rem;">
                    <img src="assets/meahuja_image.png" class="card-img" alt="Mukesh Ahuja">
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h5 class="card-title" style="font-weight: bold;">MUKESH AHUJA</h5>
                      <hr>
                      <p class="card-text">C# | .net | WPF | JS</p>
                      <p class="card-text">GlobalLogic, GURGAON</p>
                      <a href="{{resume_link}}" target="_blank" class="btn btn-primary">RESUME</a>
                    </div>
                  </div>
                </div>
              </div>
    </div>
</div>

<div class="card-container">
    <ul class="list-group list-group-horizontal">
       <a href="{{facebook_link}}" title="Facebook" target="_blank">
        <img class="social" src="assets/facebook.png" alt="facebook">
    </a>
       <a href="{{instagram_link}}" title="Instagram" target="_blank">
        <img class="social" src="assets/instagram.png" alt="instagram">
    </a>
       <a href="{{linkedin_link}}" title="LinkedIn" target="_blank">
        <img class="social" src="assets/linkedin.png" alt="linkedin">
    </a>
       <a href="{{github_link}}" title="Github" target="_blank">
        <img class="social" src="assets/github.png" alt="github">
    </a>
    </ul>
</div>
